
.DS_Store

.idea/.name

.idea/ant.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/uiDesigner.xml

.idea/vcs.xml

.idea/workspace.xml

AndroidBeamDemo.iml

out/production/AndroidBeamDemo/com/example/android/beam/R.class

*.class

*.apk

gen/com/example/android/beam/R.java

gen/com/example/android/beam/Manifest.java

gen/com/example/android/beam/BuildConfig.java
